*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

.site-header{
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(57deg, #ff3385, #cc0052);
    clip-path: polygon(0% 0%, 100% 0%,100% 75%,0% 100%);
}

nav{
    width: 100%;
    height: 100px;
    display: flex;
    color: #fff;
}

.logo{
    width: 50%;
    height: 100px;
}


.logo h1{
    line-height: 100px;
    padding-left: 50px;
}

.menu{
    width: 50%;
    height: 100px;
}

.menu ul{
    width: 100%;
    height: 100px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;

}


.menu ul li{
    list-style: none;
    font-size: 12px;
    font-weight: bold;
    text-transform: uppercase;

}

section {
    display: flex;
}

.leftside{
    width: 45%;
    height: auto;
    overflow: hidden;
    margin-top: 20px;

}


.leftside img{
    width: 600px;
    height: 500px;
}

.rightside{
    width: 55%;
    height: auto;
    color: white;
    text-align: center;
    margin-top: 80px;
    padding: 40px;
}

.rightside h1{
    font-size: 50px;
    font-weight: 900;
    text-transform: uppercase;

}

.rightside p{
    font-size: 1.1rem;
    padding: 30px 0;
    text-transform: capitalize;

}

.rightside button{
    font-size: 17px;
    font-weight: bold;
    color: white;
    text-transform: uppercase;
    background-image: linear-gradient(57deg, #ff3385, #cc0052);
    border-radius: 4px;
    padding: 20px 35px;
}

.rightside button:hover{
    background-image: linear-gradient(57deg, #cc0052, #ff3385);
}